In [17]:
import pandas as pd
import os
from path import Path
from matplotlib import pyplot as plt

import statsmodels as sm
import statsmodels.tsa.stattools
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima_model import ARIMA
import statistics

In [3]:
df = pd.read_csv('./Resources/Data/trips_by_type.csv')
print(df.head())

   trip_number            startdate membertype weekday  tclassic  tdocked  \
0     26433601  2020-05-01 00:02:02     Member  Friday       0.0      1.0
1     26433602  2020-05-01 00:03:34     Member  Friday       0.0      1.0
2     26433603  2020-05-01 00:21:01     Member  Friday       0.0      1.0
3     26433604  2020-05-01 00:21:09     Casual  Friday       0.0      1.0
4     26433605  2020-05-01 00:30:26     Member  Friday       0.0      1.0

   telectric
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0

In [11]:
df.dtypes

trip_number      int64
startdate       object
membertype      object
weekday         object
tclassic       float64
tdocked        float64
telectric      float64
dtype: object

In [12]:
# Convert date object to datetime
df['startdate'] = pd.to_datetime(df['startdate'])
df.head()

,trip_number,startdate,membertype,weekday,tclassic,tdocked,telectric
0,26433601,2020-05-01 00:02:02,Member,Friday,0.0,1.0,0.0
1,26433602,2020-05-01 00:03:34,Member,Friday,0.0,1.0,0.0
2,26433603,2020-05-01 00:21:01,Member,Friday,0.0,1.0,0.0
3,26433604,2020-05-01 00:21:09,Casual,Friday,0.0,1.0,0.0
4,26433605,2020-05-01 00:30:26,Member,Friday,0.0,1.0,0.0

In [13]:
df.dtypes

trip_number             int64
startdate      datetime64[ns]
membertype             object
weekday                object
tclassic              float64
tdocked               float64
telectric             float64
dtype: object

In [15]:
# Set index to 'startdate'
trips_by_type=df.copy()
trips_by_type.set_index('startdate', inplace = True)
trips_by_type.head()

,trip_number,membertype,weekday,tclassic,tdocked,telectric
startdate,,,,,,
2020-05-01 00:02:02,26433601,Member,Friday,0.0,1.0,0.0
2020-05-01 00:03:34,26433602,Member,Friday,0.0,1.0,0.0
2020-05-01 00:21:01,26433603,Member,Friday,0.0,1.0,0.0
2020-05-01 00:21:09,26433604,Casual,Friday,0.0,1.0,0.0
2020-05-01 00:30:26,26433605,Member,Friday,0.0,1.0,0.0

#  TA HELP: Split Train_test

In [ ]:
# Plot to see stationarity
plt.plot(trips_by_type)
plt.show

In [ ]:
# Difference data to make more stationary
trips_by_type_diff1 = trips_by_type.dff()

In [ ]:
plt.plot(trips_by_type_diff1)
plt.show

In [ ]:
# Second round of differencing (As needed)
trips_by_type_diff2 = trips_by_type_diff1.diff()
plt.plot(trips_by_type_diff2)
plt.show

In [ ]:
# Determine MA terms to include in model
plot_acf(trips_by_type_diff2)
plt.show

In [ ]:
# Determine AR terms to include in model
plot_pacf(trips_by_type_diff2)
plt.show

In [ ]:
# Fit the ARIMA model
ARMA1model_df = ARIMA(trips_by_type, order=( , , )).fit(transparams=False)
print(ARMA1model_df)

In [ ]:
#Predict 1 Month Member Count
ARMApred_1month_member_count = ARMA1model_df.predict('laststartdate', type='levels')
print('forecast/predictions ', ARMApred_1month_member_count)